@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #6f36f444;
}

.app {
    padding: 2rem;

    .header {
        text-align: center;
        margin-bottom: 2rem;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    }

    .form-container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 1.5rem;
        box-shadow: rgba(100, 100, 11, .2) 0px 7px 29px 0px;

        form {
            max-width: 400px;
            margin: 0 auto;
        }

        .inputs-container {
            min-height: 280px;
        }

        .actions {
            display: flex;
            justify-content: flex-end;
            gap: 1rem;

            button {
                font-size: .9rem;
                padding: .5rem 1rem;
                display: flex;
                gap: .5rem;
                align-items: center;
                border-radius: 3px;
                background-color: #dfdfdf;
                border: none;
                cursor: pointer;
                transition: .3s;
            }

            button:hover{
                background-color: #cfcfcf;
            }
        }
    }
}