.thanks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .5rem;
    
    h1, h3, p {
        text-align: center;
    }

    p {
        font-size: .9rem;
    }
    
    h3 {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .avaliation{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        span {
            font-weight: bold;
        }
    }
}